


<table border= "1" align ="center">

<tr>
<td>Username</td>
<td>email</td>
<td>nb_books</td>
<td>Actions</td>

</tr>

{% for a in auteurs %}



<tr>
<td>{{a.Username}}</td>
<td>{{a.email}}</td>
<td>{{ a.getBookCount() }}</td>
<td><a href="{{ path('edit', {'ide': a.Id}) }}" class="edit">edit</a>
<a href="{{ path('delete', {'ide': a.Id}) }}" class="delete">delete</a></td>


</tr>    
{% endfor %}

</table>

<br>
<div align='center'>
<button onclick="location.href='{{ path('add_author') }}'">Add Author</button>
<button onclick="location.href='{{ path('list_books') }}'">List of Books</button>

</div>

